<div
  style="margin: 50px"
  *ngIf="
    (!!tempData && modules.temperature) ||
      (!!humData && modules.humidity) ||
      (!!eleData && modules.electricity) ||
      (!!watData && modules.water) ||
      (!!polData && modules.pollutions);
    else: loading
  "
>
  <mat-form-field>
    <mat-select placeholder="Wybierz dzielnicę" [formControl]="chosenDistrict">
      <mat-option *ngFor="let district of districts" [value]="district">
        Osiedle {{ district }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex fxLayout="column" fxLayoutGap="20px">
      <mat-card fxFlex *ngIf="tempData?.length > 0 && modules.temperature">
        <google-chart
          *ngIf="tempData.length > 0 && modules.temperature"
          [title]="'Temperatura'"
          [type]="'LineChart'"
          [data]="tempData"
        ></google-chart>
      </mat-card>
      <mat-card fxFlex *ngIf="humData?.length > 0 && modules.humidity">
        <google-chart
          *ngIf="humData.length > 0 && modules.humidity"
          [title]="'Wilgotność powietrza'"
          [type]="'LineChart'"
          [data]="humData"
        ></google-chart>
      </mat-card>
    </div>

    <div fxFlex fxLayout="column" fxLayoutGap="20px">
      <mat-card fxFlex *ngIf="eleData?.length > 0 && modules.electricity">
        <google-chart
          [title]="'Zużycie energii'"
          [type]="'LineChart'"
          [data]="eleData"
        ></google-chart>
      </mat-card>
      <mat-card fxFlex *ngIf="watData?.length > 0 && modules.water">
        <google-chart
          [title]="'Zużycie wody'"
          [type]="'LineChart'"
          [data]="watData"
        ></google-chart>
      </mat-card>
      <mat-card fxFlex *ngIf="polData?.length > 0 && modules.pollutions">
        <google-chart
          [title]="'Zużycie wody'"
          [type]="'LineChart'"
          [data]="polData"
        ></google-chart>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #loading>
  <div style="margin: 50px"><mat-spinner></mat-spinner></div>
</ng-template>
