.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar__user {
  text-align: right;
}

.toolbar__user-avatar {
  max-height: 40px;
  max-width: 40px;
}
